scikit-image>=0.18
scikit-learn>=1
numpy>=1
matplotlib
tifffile
pandas>=1.4
# optional, for starcall.dotdetection.detect_dots_gpu (pick the build matching your cuda version)
# cupy-cuda12x
# cucim-cu12
